/* Reset styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
  }
  body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    width: 100%;
  }
  /* Header styles */
  header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: right;
      width: 100%;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .navbar .img img{
        object-fit: cover;
        background-repeat: no-repeat;
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 100%;
    }
    
    .navbar .img{
        height: 100%;
        width: 60px;
    }

    .navbar .img span{
        font-weight: 800;
        display: inline-block;
        margin-top: 5px;
    }
    nav ul{
        list-style: none;
        display: flex;
        align-items: center;
    }
    
     a{
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }
    /* skills menu*/

    .navbar .menu{
        position: relative;
    }
    
    .items{
        list-style: none;
        position: absolute;
        flex-direction: column;
        top: 20px;
        background-color: #333;
    }
    
    .navbar ul li ul li{
        text-align:center ;
        width: 100%;
        display: none;
    }
    
    .navbar ul li:hover ul li {
        display: block;
        z-index: 555;
        
    }
    .navbar ul li a:hover {
        background-color: rgb(19, 128, 231);
    }
    .items li a{
        display: block;
        
    }
    .navbar ul li ul li a:hover {
        background-color: #a8eb12;
        color:#000;
    }
    
/* container styling */

.container{
    width: 100%;
    height: 90vh;
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    position: relative;
}
/* Upskill section */

.upskill-section{
    box-shadow: 10px 15px 15px black;
    max-width: 1200px;
    width: 90%;
    height:auto;
    border-radius: 10px;
    text-align: center;
    padding: 2.5rem;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upskill-section h1{
    font-size: 2rem;
}


.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

/* category section */

    h2{
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
.categories{
    max-width: 1200px;
    width: 90%;
    display: flex;
    height: 50vh;
    margin: auto;
    margin-bottom: 20px;
}

.category img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px auto;
    box-shadow: 10px 15px 15px black;
    border-radius: 100%;
}
.category{
    width: 25%;
    height: 15rem;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    margin-left: 40px;
    border-radius: 5px;
    box-shadow: 10px 15px 20px black;
    cursor: pointer;
    text-align: center;
    display: block;
}

.white{
   background: #fff;
}

.box{
    width: 200px;
    height: 200px;
}

.size{
    font-size: 2.5rem;
}

.category:hover{
    transition: all 0.2s ease-in-out;
    transform: translate(-20px ,-10px);
    /* width: 200px;
    height: 220px; */
    box-shadow: 0px 50px 40px black;
}


/* footer */

.footer{
    background-color: #000;
    color: #f4f4f4;
    text-align: center;
    padding: 1.2rem;
    font-weight: 600;
}

/* Media queries */
@media (max-width:850px) {
    nav.navbar{
        flex-direction: column;
        align-items: center;
    }
    nav.navbar ul{
        margin-top: 10px;
    }

    .upskill-section{
        font-size: 1rem;
    }

    .categories{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .category{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        width: 90%;
        margin: 10px auto;
    }

}